body {
	color: DarkSlateGray;
	text-align: center;
    font-size: 20px;
    font-family: 'Roboto', arial, sans-serif;
    display: block;
    position: relative;
    padding-top: 260px;


}

.bg {
	background-image: url(cloudsbg.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

table, th, td, button {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

table {
	border-collapse: collapse;
}

th {
    background-color: white;
}

td {
	background-color: white;
}

button {
	background-color: white;
	color: DarkSlateGray;
}