<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<title>Search For Weather By City</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" media="none" onload="this.media='all'" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="index-page">
		<div class="image-cover home-image">
			<div class="gradient gradient-top"></div>
			<div class="gradient gradient-bottom"></div>
			<div class="home-text">
				<h1>Search For Weather</h1>
				<input type="text" placeholder="Brooklyn" id="city-search" name= "city-name" value = "">
				<button class="search-button">Search</button>
			</div>
			<div class="home-text-bottom" id="home-text-bottom">
				<p>You can search by city name, or city and country</p>
			</div>
		</div>
		<div class="footer"><a href="https://github.com/laurawbrooklyn"> Weather App Created By: Laura Nest Wallace</a></div>
	</div>

	<div class="weather-page hidden">
		<div class="image-cover weather-image"></div>
		<div class="gradient-top"></div>
		<div class="gradient-bottom"></div>
		<div class="weather-text">
			<h1 id="top-text"></h1>
		</div>
		<div id="bottom-text" class="weather-text-bottom">
			<ul>
				<li id="location">Location: </li>
				<li id="current-temp">Current Temperature (F): </li>
				<li id="current-forecast">Current Forecast: </li>
				<li id="current-humidity">Relative Humidity (%): </li>
			</ul>
		</div>
	</div>


	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script defer type="text/javascript" src='app.js'></script>
</body>
</html>
