<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<title>Display Results When Forecast Is Rain</title>
	<meta name="viewport" content="width=device-width">
	<link href="style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" media="none" onload="this.media='all'" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
</head>

<body>

	<div class="rain-image">
  <div class="rain-text">
    <h1>Stay Dry!</h1>
			<ul>
				<li>Current Temperature: 63 F</li>
				<li>Current Forecast: Rain</li>
				<li>Relative Humidity: 74%</li>
			</ul>
  </div>
</div>

</body>
</html>
